<!-- layouts/shortcodes/cal-embed.html -->
<div style="width:100%;min-height:860px;height:min(980px,90vh);overflow:auto" id="my-cal-inline-1-hour-meeting"></div>
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
  
  Cal("init", "1-hour-meeting", {origin:"https://app.cal.com"});

  Cal.ns["1-hour-meeting"]("inline", {
    elementOrSelector:"#my-cal-inline-1-hour-meeting",
    config: {"layout":"month_view","useSlotsViewOnSmallScreen":true,"theme":"dark"},
    calLink: "mulham-fetna/1-hour-meeting",
  });

  Cal.ns["1-hour-meeting"]("ui", {"hideEventTypeDetails":false,"layout":"month_view","theme":"dark"});
</script>
